.popup {
  display: none;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 200px 88px 0;
  font-family:'inter', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.53);
}