.page{
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background: #2A2C2F;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (min-width: 1280px) {
    .page {
        max-width: 100%;
      }
}