.photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  padding: 64px 5%;
}
@media screen and (min-width: 425px) {
    .photo-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 16px 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 88px 24px;
      }
}
@media (min-width: 769px) {
    .photo-grid {
        -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
        padding: 92px 48px;
      }
}
@media (min-width: 1025px) {
    .photo-grid {
        -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
        max-width: 1184px;
        padding: 92px 48px;
      }
}