.photo-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 64px 5%;
}
@media screen and (min-width: 768px) {
    .photo-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 88px 24px;
      }
}
@media (min-width: 1024px) {
    .photo-grid {
        -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
        padding: 92px 48px;
      }
}
@media (min-width: 1280px) {
    .photo-grid {
        -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
        padding: 92px 48px;
      }
}