@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local('Inter'),
		url('./fonts/inter/Inter-Regular.woff2') format('woff2'), 
		url('./fonts/inter/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: bold;
	font-weight: 700;
	src: local('Inter'),
		url('./fonts/inter/Inter-Bold.woff2') format('woff2'), 
		url('./fonts/inter/Inter-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-weight: 900;
	src: local('Inter'),
		url('./fonts/inter/Inter-Black.woff2') format('woff2'), 
		url('./fonts/inter/Inter-Black.woff') format('woff');
} 

.page{
  min-width: 320px;
  max-width: 424px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background: #2A2C2F;
  color: #fff;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  margin: 0;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo {
  height: 42px;
  width: 142px;
}

.header__lang-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8px;
}

.header__lang-link {
  margin: 0 18px 0 0;
	font-family: 'Inter',  'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1;
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
}

.header__lang-link:last-of-type {
  margin: 0;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}


.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 32px 0 64px;
}

.lead__title {
  margin: 0 auto;
  padding: 0 16px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.1;
  text-align: center;
}

.lead__subtitle {
  margin: 0 auto;
  padding: 16px 16px 40px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
}

.lead__image { 
  margin: 0 auto;
  max-width: 100%;
}

.lead__caption {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  padding: 8px 0 0 16px;
	font-family: 'Inter',  'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.intro {
  margin: 0 auto;
  padding: 0 16px;
  
}
.intro__title {
  margin: 0;
	font-family: 'Inter', 'Arial', sans-serif;
	font-weight: 900;
  font-size: 2rem;
  line-height: 1.09;
  text-align: left;
}

.intro__text {
  margin: 0;
  padding: 40px 0 34px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
  line-height: 1.625;
  font-size: 1rem;;
}

.intro__list {
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: bold;
	font-weight: 700;
  line-height: 1.5;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
	list-style-type: none;
}

.photo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 12px;
  margin: 0;
  padding: 32px 16px;
}

.photo-grid__item {
  width: 100%;
}

.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 0;
  gap: 50px;
}

.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 35px 32px 46px 32px 320px;
  grid-template-rows: 35px 46px 320px ;
  grid-auto-flow: row;
  gap: 32px;
  width: 100%;
  margin: 0;
}

.place > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.place > *:nth-child(2) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.place > *:nth-child(3) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

.place__title {
  margin: 0;
  padding-left: 16px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-weight: 900;
  font-size: 2rem;
  Line-height: 1.09;
}

.place__image {
  -ms-grid-row: 3;
      grid-row-start: 3;
  width: 100%;
  height: 320px;
  background-size: cover;
}

.place__website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-left: 16px;
}

.website__url-heading {
  margin: 0;
	font-family: 'Inter',  'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
  line-height: 0.75;
  font-size: 1rem;
  color: #aaa;
}

.website__link {
  margin-top: 12px;
	font-family: 'Inter',  'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
  line-height: 1.22;
  font-size: 1.125rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
}

.website__link:hover {
  opacity: 80%;
}

.place__paragraph {
  margin: 0 auto;
  padding: 0 16px;
	font-family: 'Inter',  'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
  font-size: 1rem;
  line-height: 1.625;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
  margin: 0 auto;
  padding: 32px 0;
}
 
.cover__title {
  margin: 0 auto;
  padding-top: 32px;
	font-family: 'Inter', 'Arial', sans-serif;
	font-weight: 900;
  font-size: 2rem;
  line-height: 1.09;
  text-align: center;
  z-index: 10;
}

.cover__subtitle {
  margin: 0 auto;
  padding: 16px 16px 0;
	font-family: 'Inter',  'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875;
  text-align: center;
  z-index: 10;
}

.overlay {
  width: 100%;
  height: 200px;
  opacity: 50%;
  color: #2A2C2F;
  z-index: 5;
}

.overlay:hover {
  opacity: 80%;
}

.cover__background {
  position: absolute;
  width: 100%;
  height: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 32px 0 24px 16px;

}

.footer__links{
  display: flex;
  flex-direction: column;
  gap: 32px;

}

.footer__link {
  margin: 0;
  list-style: none;
	font-family: 'Inter',  'Arial', 'Helvetica', sans-serif;
	font-style: normal;
	font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
  color: #fff
}

.footer__link:hover {
  opacity: 80%;
}

.footer__copyright {
  margin: 0;
  padding-top: 48px;
	font-family: 'Inter',  'Arial', 'Helvetica', sans-serif;
	font-style: normal;
	font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
}

@media screen and (min-width : 425px) {
  .page {
    min-width: 425px;
    max-width: 767px;
  }

  .header {
    width: 93.75%;
    padding: 28px 24px 16px;
  }

  .header__logo {
    height: 52px;
    width: 176px;
  }

  .header__lang-link {
    font-size: 1.5rem;
    line-height: 1.16;
  }

  .lead {
    padding: 32px 0 88px;
  }

  .lead__title {
    font-size: 6rem;
    line-height: 1.04;
    padding: 0 24px;
  }

  .lead__subtitle {
    font-size: 1.875rem;
    line-height: 1.2;
    padding: 32px 64px 56px;
  }

  .lead__image { 
    max-width: 100%;
  }

  .intro {
    padding: 0 24px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }

  .photo-grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 88px 24px;
  }

  .places {
    padding: 0 24px;
    gap: 73px;
  }

  .place {
    display: grid;
    grid-template-columns: minmax(min-content, 340px) auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    column-gap: 28px;
    row-gap: 26px;
    margin: 0;
  }

  .place__title {
    margin-bottom: 22px;
    font-size: 42px
  }
  

  .place__image {
    grid-row: span 2;
    height: 340px;
  }

  .place__website {
    margin-bottom: 22px;
    padding-left: 0;
    justify-content: end;
    align-items: flex-start;
  }

  .place__paragraph {
    padding: 0;
  }

  .cover {
    height: 480px;
    padding: 90px 0 88px;
  }

  .cover__title {
    padding: 115px 104px 0;
    font-size: 4.5rem;
    line-height: 1.05;
  }
  
  .cover__subtitle {
    padding: 32px 204px 0;
    font-size: 1,125rem;
    line-height: 1.22;
  }

  .cover__background {
    height: 480px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 18px;
    padding: 0 24px 24px;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }

  .footer__copyright {
    padding: 0;
    line-height: 16px;
  }
  
}

@media (min-width : 768px){
  .page {
    min-width: 768px;
    max-width: 1024px;
  }

  .header {
    width: 90.625%;
    padding: 28px 48px 16px;
  }

  .header__logo {
    height: 52px;
    width: 176px;
  }

  .header__lang-link {
    font-size: 1.5rem;
    line-height: 1.16;
  }

  .lead {
    padding: 32px 0 92px;
  }

  .lead__title {
    font-size: 6rem;
    line-height: 1.04;
    padding: 0 152px;
  }

  .lead__subtitle {
    font-size: 1.875rem;
    line-height: 1.2;
    padding: 32px 192px 56px;
  }

  .lead__image { 
    width: 90.625%;
  }

  .lead__caption {
    padding: 8px 0 0 48px;
  }

  .intro {
  padding: 0 286px 0 48px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }

  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
    padding: 92px 48px;
  }

  .places {
    padding: 0 48px;
    gap: 80px;
  }

  .place {
    display: grid;
    grid-template-columns: minmax(min-content, 440px) 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    column-gap: 32px;
    row-gap: 26px;
    margin: 0;
  }

  .place__title {
    margin-bottom: 22px;
    font-size: 72px;
    line-height: 76px;
  }

  .place__image {
    grid-row: span 2;
    height: 440px;
  }

  .place__website {
    margin-bottom: 22px;
    padding-left: 0;
    justify-content: end;
    align-items: flex-start;
  }

  .place__paragraph {
    font-size: 18px;
    line-height: 29.34px;
    padding: 0;
  }

  .cover {
    height: 640px;
    padding: 92px 0px;
  }

  .cover__title {
    padding: 195px 232px 0;
    font-size: 4.5rem;
    line-height: 1.05;
  }
  
  .cover__subtitle {
    padding: 32px 332px 0;
    font-size: 1,125rem;
    line-height: 1.22;
  }

  .cover__background {
    height: 640px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 18px;
    padding: 0 48px 24px;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .footer__link {
    display: flex;
  }

  .footer__copyright {
    padding: 0;
  }
  


}

@media (min-width : 1024px) {
  .page {
    min-width: 1024px;
    max-width: 1280px;
  }

  .header {
    width: 92.5%;
    padding: 28px 48px 24px;
  }
  
  .header__logo {
    height: 52px;
    width: 176px;
  }

  .header__lang-link {
    font-size: 1.5rem;
    line-height: 1.16;
  }

  .lead {
    padding: 32px 0 92px;
  }

  .lead__title {
    font-size: 6rem;
    line-height: 1.04;
    padding: 0 280px;
  }

  .lead__subtitle {
    font-size: 1.875rem;
    line-height: 1.2;
    padding: 32px 320px 64px;
  }

  .lead__image { 
    width: 76.875%;
  }

  .lead__caption {
    padding: 8px 0 0 148px;
  }

  .intro {
    padding: 0 442px 0 148px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }

  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 92px 48px;
  }

  .places {
    padding: 0 148px;
    gap: 80px;
  }

  .place {
    display: grid;
    grid-template-columns: minmax(min-content, 460px) auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    column-gap: 40px;
    row-gap: 26px;
    margin: 0;
  }

  .place__title {
    margin-bottom: 22px;
    font-size: 72px;
    line-height: 76px;
  }

  .place__image {
    grid-row: span 2;
    height: 460px;
  }

  .place__website {
    margin-bottom: 22px;
    padding-left: 0;
    justify-content: end;
    align-items: flex-start;
  }

  .place__paragraph {
    font-size: 18px;
    line-height: 29.34px;
    padding: 0;
  }

  .cover {
    width: 92.5%;
    height: 740px;
    padding: 92px 48px;
  }

  .cover__title {
    padding: 245px 312px 0;
    font-size: 4.5rem;
    line-height: 1.05;
  }
  
  .cover__subtitle {
    padding: 32px 412px 0;
    font-size: 1,125rem;
    line-height: 1.22;
  }

  .cover__background {
    width: 92.5%;
    height: 740px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 18px;
    padding: 0 48px 24px;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }

  .footer__copyright {
    padding: 0;
    line-height: 16px;
  }


}
