.page{
  width: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #fff;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  margin: 0 auto;
  padding: 16px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo {
  height: 42px;
  width: 142px;
}

.header__lang-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8px;
  gap: 18px;
}

.header__lang-link {
  margin: 0 ;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
}

.header__lang-link:last-of-type {
  margin: 0;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.lead {
  margin: 0 auto;
  padding: 32px 0 64px;
}

.lead__title {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 5%;
  line-height: 1.1;
  font-size: 40px;
  font-weight: 900;
}

.lead__subtitle {
  max-width: 288px;
  margin: 0 auto;
  padding: 16px 5% 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.lead__image { 
  margin: 0 auto;
  width: 100%;
  height: calc(100vw / 1.6);
}

.lead__caption {
  align-self: flex-start;
  margin: 0;
  padding: 8px 0 0 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.intro {
  margin: 0 auto;
  padding: 0 5%;

}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: left;
}

.intro__text {
  max-height: 520px;
  margin: 0;
  padding: 40px 0 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

.intro__list {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 64px 5%;
}

.photo-grid__item {
  width: 100%;
  border-style: none;
  object-fit: cover;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.place {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 46px 1fr ;
  grid-auto-flow: row;
  gap: 25px;
  width: 100%;
  margin: 0;
  padding-bottom: 66px;
}

.place__title {
  margin: 0;
  padding:0 0 7px 5%;
  font-weight: 900;
  font-size: 32px;
  Line-height: 1.09;
}

.place__image {
  grid-row-start: 3;
  width: 100%;
  height: 320px;
  padding: 7px 0;
  object-fit: ;
}

.place__website {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 5%;
}

.place__url-heading {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #aaa;
}

.place__link {
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #fff;
}

.place__link:hover {
  opacity: 80%;
}

.place__paragraphs {
  margin: 0 auto;
  padding: 0 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;

}

.place__paragraph {
  margin: 0;

}

.place__paragraph:nth-of-type(2) {
  margin-top: 25px;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cover__background{
  background-size: cover;
  position: relative;
  width: 100%;
  height: calc(100vw / 1.6);
  background-image: url(./images/cover.jpg);
}

.cover:hover {
  opacity: 80%;
}

.cover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: 0.4s;
}

.cover__link {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  text-decoration-line: none;
  text-decoration: none;
}


.cover__title {
  max-width: 288px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  padding-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}


.footer {
  display: flex;
  flex-direction: column;
  padding: 32px 0 24px 5%;

}

.footer__links{
  display: flex;
  flex-direction: column;
  gap: 32px;

}

.footer__link {
  margin: 0;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: #fff
}

.footer__link:hover {
  opacity: 80%;
}

.footer__copyright {
  margin: 0;
  padding-top: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

@media screen and (min-width: 425px) {
  .lead__title {
    font-size: 56px;
    line-height: 1.08;
  }

  .lead__subtitle {
    max-width: 470px;
    font-size: 24px;
    line-height: 1.2;
    padding: 24px 5% 48px;
  }

  .lead__caption {
    padding: 8px 0 0 5%;
  }

  .intro__title {
    font-size: 34px;
    line-height: 1.08;
  }

  .place {
    grid-template-rows: 50px 46px 1fr ;
  }
  
  .place__title {
    font-size: 42px;
  }

  .place__image {
    height: calc(100vw / 1.6);
  }

  .cover__title {
    max-width: 410px;
    margin: 0 auto;
    font-size: 52px;
    line-height: 1.05;
  }

  .cover__subtitle {
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.22;
  }



}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 6.25%);
    padding: 28px 0 16px;
  }

  .header__logo {
    height: 52px;
    width: 176px;
  }

  .header__lang-links {
    padding-bottom: 6px;
  }

  .header__lang-link {
    font-size: 24px;
    line-height: 1.16;
  }

  .lead {
    width: 100%;
    padding: 32px 0 88px;
  }

  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 1.04;
  }

  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    padding: 32px 0 56px;
  }

  .lead__caption {
    padding: 8px 0 0 24px;
  }

  .intro {
    padding: 0 24px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 88px 24px;
  }

  .places {
    padding: 0 24px 90px;
    gap: 73px;
  }

  .place {
    display: grid;
    grid-template-columns: 340px auto;
    grid-template-rows: max-content auto;
    grid-auto-flow: column;
    column-gap: 28px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
  }

  .place__title {
    max-width: 340px;
    padding: 0;
  }


  .place__image {
    padding: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 340px
  }

  .place__website {
    padding-left: 0;
    justify-content: end;
    align-items: flex-start;
  }

  .place__paragraphs {
    padding: 0;
  }

  .place__paragraph {
    padding: 0;
  }

  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.05;
  }

  .cover__subtitle {
    max-width: 360px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 18px;
    padding: 88px 24px 24px;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }

  .footer__copyright {
    padding: 0;
    font-size: 14px;
    line-height: 16px;
  }

}

@media (min-width: 1024px){
  .header {
    width: calc(100% - 9.375%);
  }

  .lead {
    max-width: 928px;
    padding: 32px 0 92px;
  }

  .lead__image {
    max-height: 580px;
  }

  .lead__caption {
    padding: 8px 0 0 48px;
  }

  .intro {
    max-width: 690px;
    padding: 0 286px 0 48px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }

  .photo-grid {
    -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
    padding: 92px 48px;
  }

  .places {
    padding: 0 48px 92px;
    gap: 80px;
  }

  .place {
    display: grid;
    grid-template-columns: minmax(min-content, 440px) 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    column-gap: 32px;
    margin: 0;
  }
  .place__title {
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
  }

  .place__image {
    grid-row: span 2;
    height: 440px;
  }

  .place__paragraph {
    font-size: 18px;
    line-height: 29.34px;
  }

  .footer {
    padding: 92px 48px 24px;
  }




}

@media (min-width: 1280px) {
  .page {
    max-width: 1280px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    max-width: 1184px;
    padding-bottom: 24px;
  }

  .lead {
    max-width: 984px;
  }

  .lead__subtitle {
    padding: 32px 0 64px;
  }

  .lead__image { 
    max-height: 615px;
  }

  .lead__caption {
    padding: 8px 0 0;
  }

  .intro {
    padding: 0 442px 0 148px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }

  .photo-grid {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 92px 48px;
  }

  .places {
    max-width: 984px;
    padding: 0 148px 92px;
    gap: 80px;
  }

  .place {
    display: grid;
    grid-template-columns: minmax(min-content, 460px) 1fr;
    grid-auto-flow: column;
    column-gap: 40px;
    margin: 0;
  }

  .place__title {
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
  }

  .place__image {
    height: 460px;
  }

  .cover__background {
    max-height: 740px;
  }

}