.place__image {
  grid-row-start: 3;
  width: 100%;
  height: 320px;
  padding: 7px 0;
  object-fit: ;
}
@media screen and (min-width: 425px) {
    .place__image {
        height: calc(100vw / 1.6);
      }
}
@media screen and (min-width: 768px) {
    .place__image {
        padding: 0;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 340px
      }
}
@media (min-width: 1024px) {
    .place__image {
        grid-row: span 2;
        height: 440px;
      }
}
@media (min-width: 1280px) {
    .place__image {
        height: 460px;
      }
}