.header {
  margin: 0 auto;
  padding: 16px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (min-width: 768px) {
    .header {
        width: calc(100% - 6.25%);
        padding: 28px 0 16px;
      }
}
@media (min-width: 1024px) {
    .header {
        width: calc(100% - 9.375%);
      }
}
@media (min-width: 1280px) {
    .header {
        width: 100%;
        max-width: 1184px;
        padding-bottom: 24px;
      }
}