.header {
  margin: 0;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (min-width: 425px) {
    .header {
        width: 93.75%;
        padding: 28px 24px 16px;
      }
}
@media (min-width: 769px) {
    .header {
        width: 90.625%;
        padding: 28px 48px 16px;
      }
}
@media (min-width: 1025px) {
    .header {
        width: 92.5%;
        padding: 28px 48px 24px;
      }
}