.place__paragraphs {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5%;
  padding: 0;
  gap: 25px;
}
@media screen and (min-width: 768px) {
    .place__paragraphs {
      margin: 0 auto;
      }
}