.lead__image { 
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 425px) {
    .lead__image { 
        max-width: 100%;
      }
}
@media (min-width: 769px) {
    .lead__image { 
        width: 90.625%;
      }
}
@media (min-width: 1025px) {
    .lead__image { 
        width: 76.875%;
      }
}