.lead__subtitle {
  margin: 0 auto;
  padding: 16px 16px 40px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 425px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        padding: 32px 64px 56px;
      }
}
@media (min-width: 769px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        padding: 32px 192px 56px;
      }
}
@media (min-width: 1025px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        padding: 32px 320px 64px;
      }
}