.popup__close-btn {
  all: unset;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  position: absolute;
  top: 28px;
  right: 50px;
  background-image: url(../../../images/logo/Close-Icon.svg);
  transition: opacity ease-in-out 0.3s;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: .5;
}

.popup__close-btn:active {
  opacity: 1;
}