.cover__background{
  background-size: cover;
  position: relative;
  width: 100%;
  height: calc(100vw / 1.6);
  background-image: url(./images/cover.jpg);
}
@media (min-width: 1280px) {
    .cover__background {
        max-height: 740px;
      }
}