.cover__title {
  max-width: 288px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #fff;
  z-index: 5;
}

@media screen and (min-width: 425px) {
    .cover__title {
        max-width: 410px;
        font-size: 52px;
        line-height: 1.06;
      }
}

@media screen and (min-width: 768px) {
    .cover__title {
        max-width: 560px;
        font-size: 72px;
      }
}