.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 35px 32px 46px 32px 320px;
  grid-template-rows: 35px 46px 320px ;
  grid-auto-flow: row;
  gap: 32px;
  width: 100%;
  margin: 0;
}
.place > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.place > *:nth-child(2) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.place > *:nth-child(3) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}
@media screen and (min-width : 425px) {
    .place {
        display: grid;
        grid-template-columns: minmax(min-content, 340px) auto;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;
        column-gap: 28px;
        row-gap: 26px;
        margin: 0;
      }
}
@media (min-width : 768px) {
    .place {
        display: grid;
        grid-template-columns: minmax(min-content, 440px) 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;
        column-gap: 32px;
        row-gap: 26px;
        margin: 0;
      }
}
@media (min-width : 1024px) {
    .place {
        display: grid;
        grid-template-columns: minmax(min-content, 460px) auto;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;
        column-gap: 40px;
        row-gap: 26px;
        margin: 0;
      }
}