.place__website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-left: 16px;
}
@media screen and (min-width : 425px) {
    .place__website {
        margin-bottom: 22px;
        padding-left: 0;
        justify-content: end;
        align-items: flex-start;
      }
}
@media (min-width : 768px) {
    .place__website {
        margin-bottom: 22px;
        padding-left: 0;
        justify-content: end;
        align-items: flex-start;
      }
}
@media (min-width : 1024px) {
    .place__website {
        margin-bottom: 22px;
        padding-left: 0;
        justify-content: end;
        align-items: flex-start;
      }
}